@import "./variables/colors";

@import "./text/colors";
@import "./utils/backgrounds";

@import "./pages/home-page";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  font-family: 'NeutraText-BookAlt', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2.4rem;
}

p {
  line-height: 1.6rem;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
);






.custom-pagination .page-item {
  border: none;
}

.custom-pagination .page-item.active .page-link {
  transform: translateY(-5px);
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.custom-pagination .page-link {
  border: none;
  color: #000;
}

.custom-pagination .page-link:hover {
  background-color: #f0f0f0;
}

.custom-pagination .page-link svg {
  vertical-align: middle;
}