.bg-black {
    background-color: var(--black) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}