.text-black {
    color: var(--black) !important;
}

.text-grey {
    color: var(--grey) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}